html, body {
  margin:0;
}
body {
  margin: 0;
  padding: 15px;
  font-family: sans-serif;
  background-color: whitesmoke;
}

h1 {
  font-weight: bold;
  text-overflow: ellipsis;
  vertical-align: middle;
  width: 100%;
  margin: -15px 0 0 -15px;
  padding: 15px;
  background-color: lightsteelblue;
  border-bottom: 1px solid black;
  box-shadow: 0 2px 2px 1px #888;
}


h2 {
  width: 100%;
  margin: 10px 0 10px -15px;
  padding: 5px;
  background-color: lightgray;
  border-bottom: 1px solid black;
  border-top: 1px solid rgb(186, 186, 186);
  box-shadow: 0 2px 2px 1px #888;
}

button {
  border: 1px solid #777;
  border-radius: 3px;
  padding: 3px 8px;
  margin: 2px;
  background: #E4E4E4;
  font-size: 13px;
  text-align: center;
}
button:hover {
  background-color: #c4e2a5;
}
button:active {
  background-color: #87ba43;
}

input[type=text]{
  font-size: 13px;
}

#settings-div {
  margin: 10px 0;
}

.fold {
  color: #1992ca;
}

.fold:hover {
  cursor: pointer;
}

.taction {
  border-collapse: collapse;
  background-color: rgb(224, 228, 216);
  width: 100%;
}
.taction td {
  vertical-align: top;
  border: 2px solid white;
  padding: 10px;
}
.taction td:nth-child(1) {
  text-align: right;
  width:1%;
  white-space:nowrap;
}
.taction input[type=text], #taction select {
  margin: 0 10px 0 5px;
}
.urlinput {
  width: 50%;
}

#tprops input[type=text]{
  width: 100%;
}

.hidden {
  display: none;
}

#status {
  margin: 10px 10px;
  display: block;
  background: #ddd;
}
.status-info{
  color: black;
}
.status-error{
  color: red;
}

#tprops {
  border-collapse: collapse;
  background-color: rgb(204, 233, 145);
  width: 100%;
}
#tprops td {
  vertical-align: top;
  border: 2px solid white;
  padding: 10px;
}
#tprops td.tdincl, #tprops td.tdenc {
  text-align: center;
  width:1%;
  white-space:nowrap;
}
#tprops td.tdname {
  text-align: right;
  width:1%;
  white-space:nowrap;
}
#tprops td.tdvalue span {
  color: grey;
  font-size: 80%;
  font-style: italic;
}
#tprops input[type=text]{
  width: 100%;
}

#output {
  text-align: center;
}
#output div {
  margin-top: 15px;
}
#output input {
  width: 80%;
}
#output img {
  margin: 10px auto 10px auto;
}

.centered {
  text-align: center !important;
}
.disabled {
  text-decoration: line-through;
  color: gray;
}
#debug {
  width: 100%;
  height: 300px;
}


input[type="checkbox"] {
  height: 15px;
  width: 15px;
}
input[type="checkbox"]:not(:checked) {
  background: #fff;
  border: 1px solid #ccc;
}
input[type="checkbox"]:checked {
  background: black;
  color: white;
  content: "X";
}
