html, body {
  height:100%;
  margin:0;
  width:100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
}

h1 {
  font-weight: bold;
  display: inline-block;
  white-space: normal;
  word-wrap: break-word;
  overflow: inherit;
  text-overflow: ellipsis;
  vertical-align: middle;
  max-width: 90%;
  max-height: 1em;
}

.hidden {
  display: none;
}

#status {
  margin: 10px 10px;
  display: block;
  background: #ddd;
}
.status-info{
  color: black;
}
.status-error{
  color: red;
}
