html, body {
  margin:0;
}
body {
  margin: 0;
  padding: 15px;
  font-family: sans-serif;
  background-color: whitesmoke;
}

h1 {
  font-weight: bold;
  text-overflow: ellipsis;
  vertical-align: middle;
  width: 100%;
  margin: -15px 0 0 -15px;
  padding: 15px;
  background-color: lightsteelblue;
  border-bottom: 1px solid black;
  box-shadow: 0 2px 2px 1px #888;
}


h2 {
  width: 100%;
  margin: 10px 0 10px -15px;
  padding: 5px;
  background-color: lightgray;
  border-bottom: 1px solid black;
  border-top: 1px solid rgb(186, 186, 186);
  box-shadow: 0 2px 2px 1px #888;
}

button, #file-label {
  border: 1px solid #777;
  border-radius: 3px;
  padding: 3px 8px;
  margin: 2px;
  background: #E4E4E4;
  font-size: 13px;
  text-align: center;
}
button:hover,
#file-label:hover {
  background-color: #c4e2a5;
}
input[type=text],
input[type=password] {
  padding: 1px;
  margin: 0;
  font-size: 13px;
}
button:active,
#file-label span:active {
  color: white;
}
#file {
   opacity: 0;
   position: absolute;
   z-index: -1;
}

#settings-div {
  margin: 10px 0;
}

.fold {
  color: #1992ca;
}

.fold:hover {
  cursor: pointer;
}

.taction {
  border-collapse: collapse;
  background-color: rgb(224, 228, 216);
  width: 100%;
}
.taction td {
  vertical-align: top;
  border: 2px solid white;
  padding: 10px;
}
.taction td:nth-child(1) {
  text-align: right;
  width:1%;
  white-space:nowrap;
  padding-top: 13px;
}
.urlinput {
  width: 50%;
}

#tprops input[type=text]{
  width: 100%;
}

.hidden {
  display: none;
}

#status {
  margin: 10px 10px;
  display: block;
  background: #ddd;
}
.status-info{
  color: black;
}
.status-error{
  color: red;
}

#tprops {
  border-collapse: collapse;
  background-color: rgb(204, 233, 145);
  width: 100%;
  table-layout: auto;
}

#tprops tr:first-child {
  background-color: #f0f0f0;
}

tr.filtered-out {
  visibility: collapse;
}
tr.filtered-out2 {
  visibility: collapse;
  display:none;
}

#tprops td {
  vertical-align: top;
  border: 2px solid white;
  padding: 10px;
}
#tprops td.tdincl, #tprops td.tdenc {
  text-align: center;
  width:1%;
  white-space:nowrap;
}
#tprops td.tdname {
  text-align: right;
  width:1%;
  max-width:700px;
  /*white-space:nowrap;*/
  overflow: hidden;
  text-overflow: ellipsis;
}
#tprops td.tdvalue {
  width: 100%;
}
#tprops td.tdvalue span {
  color: grey;
  font-size: 80%;
  font-style: italic;
}
#tprops input[type=text]{
  width: 100%;
}

#output {
  text-align: center;
}
#output div {
  margin-top: 15px;
}
#output input {
  width: 80%;
}
#output img {
  margin: 10px auto 10px auto;
}

.centered {
  text-align: center !important;
}
.disabled {
  text-decoration: line-through;
  color: gray;
}
#editor {
  width: 100%;
  height: 300px;
  font-size: 13px;
}


input[type="checkbox"] {
  height: 15px;
  width: 15px;
}
input[type="checkbox"]:not(:checked) {
  background: #fff;
  border: 1px solid #ccc;
}
input[type="checkbox"]:checked {
  background: black;
  color: white;
  content: "X";
}

.icon
{
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.encrypted-val {
  background-color: rgb(251, 216, 216);
}
.encrypted {
  color: red;
  cursor: pointer;
  font-size: 120%;
}
.encrypted:before {
  content: '\e802';
}
.cleartext  {
  color: grey;
  cursor: pointer;
  font-size: 120%;
}
.cleartext:before {
  content: '\e803';
}
.checkspan-checked,
.checkspan-unchecked,
#generate-password,
#pname-edit,
#clear-editor,
.encbut {
  cursor: pointer;
}
